/* 
---  1. TYPOGRAPHY


- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
                 
                    
- Font weights:

- Line heights: 
Default: 1


--- 2. COLORS

  Primary: #e67e22

  Tints: #fdf2e9 #f3bf91 #fae5d3
  Shades: #cf711f
  Accents: 
  Greys: #555 , #343a40

--- 3. SHADOWS


--- 4. BORDER-RADIUS


--- 5.  WHITESPACE


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem #f3bf91;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* GENERAL STYLES */

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid-centered {
  justify-content: center;
  align-items: center;
}
.grid-2cols {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-5cols {
  grid-template-columns: repeat(5, 1fr);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.heading {
  font-size: 4.4rem;
  font-weight: 700;
  color: #343a40;
  letter-spacing: -0.2rem;
  line-height: 1;
}

.visited-effect:focus {
  outline: 0.9rem solid #f3bf91;
}

.menu-buttons:link,
.menu-buttons:visited {
  color: #343a40;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;

  transition: all 0.3s;
}

.menu-buttons:hover,
.menu-buttons:active {
  color: #e67e22;
}

.orange-button:link,
.orange-button:visited {
  color: white;
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;

  transition: background-color 0.3s;
}

.orange-button:hover,
.orange-button:active {
  background-color: #cf711f;
}

/* MENU */

.header {
  background-color: #fdf2e9;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3.2rem;
  padding-bottom: 6.4rem;
}

.logo {
  height: 2.2rem;
}

.menu-buttons {
  display: flex;
  align-items: center;

  gap: 4.8rem;
}

.menu-link:link,
.menu-link:visited {
  color: #343a40;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;

  transition: all 0.3s;
}

.menu-link:hover,
.menu-link:active {
  color: #cf711f;
}

.menu-link.orange-button:link,
.menu-link.orange-button:visited {
  color: white;
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.menu-link.orange-button:hover,
.menu-link.orange-button:active {
  background-color: #cf711f;
}

/* # SECTION 1: HERO   */

.section-hero {
  background-color: #fdf2e9;
  padding-bottom: 9.6rem;
}

.hero {
  max-width: 110rem;
  padding: 0 2.4rem;

  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 0 auto;

  gap: 9.6rem;
  /* background-color: violet; */
}

.hero-img {
  width: 100%;
}

.hero-text-box {
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 4.8rem;
}

.heading.heading-primary {
  font-size: 4.4rem;
  font-weight: 700;
  color: #343a40;
  letter-spacing: -0.2rem;
  line-height: 1;
}

.hero-description {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}
.hero-buttons {
  display: flex;
  text-decoration: none;
  font-weight: 600;

  gap: 2.4rem;
  margin-bottom: 3.2rem;
}

.hero-button:link,
.hero-button:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;

  padding: 1.6rem 3.2rem;
  border-radius: 0.9rem;

  /* We always put transition the on original state */
  transition: all 0.3s;
}

.button1:link,
.button1:visited {
  color: white;
  background-color: #e67e22;
}

.button1:hover,
.button1:active {
  background-color: #cf711f;
}

.button2:link,
.button2:visited {
  background-color: white;
  color: #343a40;
}

.button2:hover,
.button2:active {
  background-color: #fdf2e9;

  /* Trick to add border inside  */
  box-shadow: inset 0 0 0 0.3rem white;
}

.delivered-box {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.delivered-img {
  display: flex;
}
.delivered-img img {
  max-width: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;

  margin-left: -1.2rem;
}

.delivered-img img:first-child {
  margin-left: 0;
}

.meals-delivered {
  font-size: 1.8rem;
  font-weight: 600;
}
.meals-delivered-number {
  color: #cf711f;
  font-weight: 700;
}

/* SECTION 2: FEATURED IN */

.section-featured-in {
  margin-top: 4.8rem;
  margin-bottom: 9.6rem;
}

.featured-in-heading {
  display: flex;
  justify-content: center;
  color: #888;
  font-weight: 500;
  letter-spacing: 0.75px;
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
}

.featured-in-img {
  display: flex;
  justify-content: center;
  gap: 6.4rem;
}

.featured-in-img img {
  height: 3.2rem;

  filter: brightness(0);
  opacity: 50%;
}

/* SECTION 3: HOW IT WORKS */

.section-how-it-works {
  margin-bottom: 9.6rem;
}

.sub-heading {
  display: block;
  color: #cf711f;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  letter-spacing: 0.75px;
}

.sub-heading.centered {
  text-align: center;
}

.heading-secondary {
  margin-bottom: 4.8rem;
}

.heading.heading-secondary.centered {
  justify-self: center;
  margin-bottom: 9.6rem;
}

.step-number {
  display: block;
  color: #d6d8d9;
  font-size: 8.6rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.step-title {
  color: #343a40;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 3rem;
}

.app-screen {
  width: 45%;
}

.screen-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.screen-img-box::before,
.screen-img-box::after {
  content: "";
  display: block;

  border-radius: 50%;

  position: absolute;
}

.screen-img-box::before {
  background-color: #fdf2e9;
  width: 80%;

  /* height: 60%; */
  /* the height does not apply, so we use trick with padding-bottom. Here it represents60% of parent element width */
  padding-bottom: 80%;
  z-index: -2;
}
.screen-img-box::after {
  background-color: #fae5d3;
  width: 60%;
  padding-bottom: 60%;

  /* z index means that if an element has less value thatn another, then its gonna appear behind, so this is why we put a negative number */
  z-index: -1;
}

/* SECTION 4: MEALS*/

.section-meals {
  padding-bottom: 9.6rem;
}

.meal-card {
  height: 52rem;
  box-shadow: 0px 0px 20px rgba(216, 216, 216, 0.518);

  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.meal-card:hover {
  transform: translateY(-15px);
}
.meal-card-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-card-img {
  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-text-box {
  padding: 3.8rem 5rem;
}

.card-tag {
  display: inline-block;

  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  padding: 4px 8px;
  margin-bottom: 1.6rem;
  border-radius: 0.9rem;
}

.card-tag.vegetarian {
  background-color: #40c057;
}

.card-tag.vegan {
  background-color: #82c91e;
  margin-right: 0.4rem;
}
.card-tag.paleo {
  background-color: #fcc419;
}

.card-title {
  color: #343a40;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.card-item {
  list-style: none;
  display: flex;
  flex-direction: column;

  gap: 1rem;
  margin-bottom: 0.6rem;
}

.card-item-text {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
  line-height: 2;
}

.diets {
  height: 50rem;
}

.diet-title {
  color: #343a40;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.check-icon,
.no-icon {
  height: 3rem;
  width: 3rem;
  color: #cf711f;
}

.diet-list-item {
  list-style: none;

  display: flex;
  flex-direction: column;

  gap: 1.8rem;
  font-size: 1.8rem;
  line-height: 2;
}

.diet-list-item li {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.container.link-see-recipes {
  display: flex;
}
.link-see-recipes:link,
.link-see-recipes:visited {
  display: block;
  justify-self: center;
  color: #cf711f;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;

  font-size: 1.8rem;
  margin-top: 5rem;

  transition: all 0.3s;
}

.link-see-recipes:hover,
.link-see-recipes:active {
  border-bottom: 1px solid transparent;
}

/* SECTION 5: TESTIMONIALS */

.section-testimonials {
  background-color: #fdf2e9;

  display: grid;
  grid-template-columns: 55fr 45fr;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.customer-testimonial {
  padding: 9.6rem;
}

.testimonial-icon {
  max-width: 6.4rem;
  border-radius: 100%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  margin-bottom: 1.6em;
  line-height: 1.8;
}

.testimonial-author {
  font-size: 1.6rem;
}

.food-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.6rem;
  column-gap: 1.6rem;
  padding: 1.6rem;
  align-self: center;
}

.gallery-photo {
  overflow: hidden;
}
.gallery-photo img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-photo img:hover {
  transform: scale(1.1);
}

/* SECTION 6 : PRICING */

.section-pricing {
  padding-top: 7.6rem;
  padding-bottom: 7.6rem;
  margin-bottom: 9.6rem;
}
.pricing-card {
  border: 1px solid #f3bf91;
  border-radius: 9px;
  font-size: 1.8rem;
  justify-items: center;

  width: 80%;

  margin-top: 3.2rem;
  padding: 4.8rem 2.4rem;
}
.starter {
  justify-self: end;
}
.premium {
  border: 1px solid transparent;
  background-color: #fdf2e9;
  justify-self: start;
  position: relative;
  overflow: hidden;
}

.premium::after {
  content: "BEST VALUE";

  padding: 0.8rem 8rem;

  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43b;

  position: absolute;
  top: 5%;
  right: -18%;
  transform: rotate(45deg);
}

.pricing-plan {
  display: block;
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;

  margin-bottom: 3.2rem;
}

.price-sign {
  color: #343a40;
  font-weight: 500;
  font-size: 3.2rem;
}
.price {
  color: #343a40;
  font-size: 6.4rem;
  font-weight: 600;
}
.price-desc {
  color: #555;
  font-size: 1.6rem;
  margin-top: 1.4rem;
  margin-bottom: 5.2rem;
}

.plan-details-list {
  list-style: none;
  font-size: 1.8rem;
}

.plan-detail {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.plan-detail:last-child {
  margin-bottom: 3.4rem;
}

.eat-well-button:link,
.eat-well-button:visited {
  display: block;
  color: white;
  background-color: #e67e22;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;

  transition: all 0.3s;
}

.eat-well-button:hover,
.eat-well-button:active {
  background-color: #cf711f;
}

.price-disclaimer {
  color: #555;
  justify-self: center;
  font-size: 1.6rem;
  margin-top: 6.4rem;
  margin-bottom: 9.6rem;
}

/* FEATURES */

.features {
  display: flex;
  gap: 6.9rem;
}

.feature-icon {
  height: 3rem;
  width: 3rem;
  color: #cf711f;
  background-color: #fdf2e9;
  border-radius: 50%;
  padding: 1.8rem;

  margin-bottom: 3rem;
}
.feature-title {
  color: #343a40;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.feature-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

/* SECTION 7: CALL TO ACTION */

.section-cta {
  /* top / right / bottom / left */

  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;

  grid-template-columns: 2fr 1fr;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.button-sign-up {
  background-color: rgb(69, 38, 10);
  color: #fff;
  font-family: inherit;

  border: none;
  border-radius: 9px;
  padding: 1.2rem;
  align-self: end;

  font-size: 1.8rem;
  font-weight: 500;

  transition: all 0.3s;
}

.button-sign-up:hover {
  background-color: #fdf2e9;
  color: rgb(69, 38, 10);
  cursor: pointer;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* FOOTER */
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid-footer {
  grid-template-columns: 25fr 25fr 16fr 16fr 16fr;
}

.footer-heading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 4.2rem;
}

.social-media {
  display: flex;
  list-style: none;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}
/* .footer-social-col {
  margin-bottom: 3.2rem;
} */

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-social-col {
  display: flex;
  flex-direction: column;
}

.social-media-logo {
  width: 2.4rem;
  height: 2.4rem;
  color: #888;
}

.copyright {
  display: inline-block;
  line-height: 1.6;
  font-size: 1.4rem;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  list-style: none;

  gap: 2.8rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;

  font-size: 1.6rem;

  color: #888;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
/* .container {
  background-color: violet;
} */
